<app-alert></app-alert>
<div class="register-background">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset=md-1">
        <div class="row">

          <div class="col-md-5 register-left">
            <img src="assets/horsemen.png" style="width: 200px; height: 200px">
            <h3>Join us</h3>
            <p>If music could help me feel a little hope and a little less pain, maybe it could do the some for
              others</p>
            <button type="button" class="btn btn-primary">About us</button>
          </div>

          <div class="col-md-7 register-right">
            <h2>Register Here</h2>
            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
                <div class="alert p-1" role="alert"
                     *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
                  Invalid Username!
                </div>
              </div>


              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                <div class="alert p-1" role="alert"
                     *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid">
                  Password is required and Password must be at least 6 characters
                </div>

              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password"
                       formControlName="confirmPassword">
                <div class="alert p-1" role="alert"
                     *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword
&& registerForm.get('confirmPassword').touched">
                  Password is not match
                </div>
              </div>

              <fieldset class="form-group">
                <div class="row">
                  <div class="form-check form-check-inline col-form-label pl-3 pt-0">
                    <input class="form-check-input" type="radio" value="1" formControlName="gender">
                    <label class="form-check-label pt-1">Male</label>
                  </div>
                  <div class="form-check form-check-inline col-form-label pt-0">
                    <input class="form-check-input" type="radio" value="2" formControlName="gender">
                    <label class="form-check-label pt-1">Female</label>
                  </div>
                  <div class="form-check form-check-inline col-form-label pt-0">
                    <input class="form-check-input" type="radio" value="3" formControlName="gender">
                    <label class="form-check-label pt-1">Other</label>
                  </div>
                </div>
              </fieldset>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                <div class="alert p-1" role="alert"
                     *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
                  Invalid Email!
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Phone" formControlName="phonenumber">
                <div class="alert p-1" role="alert"
                     *ngIf="registerForm.get('phonenumber').invalid && registerForm.get('phonenumber').touched">
                  <span *ngIf="registerForm.get('phonenumber').hasError('required')">Phone is required</span>
                  <span
                    *ngIf="registerForm.get('phonenumber').hasError('pattern')">Phone must start with +84 followed by 9 or 10 digits.</span>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="registerForm.status==='INVALID'">Register
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


